<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../public/img/icon.ico">
		<title id="indexTitle">发布文章 - Nebula</title>
		<link rel="stylesheet" href="../layui/css/layui.css">
		<script src="../layui/layui.js" type="text/javascript"></script>
		<script src="../public/js/jquery.js" type="text/javascript"></script>
		<script src="../public/js/vue.js" type="text/javascript"></script>
		<script src="../public/components/topBar.js" type="text/javascript"></script>
		<script src="../public/components/alert.js" type="text/javascript"></script>
		<script src="../public/components/background.js" type="text/javascript"></script>
		<script src="../public/components/zButton.js" type="text/javascript"></script>
		<script src="../public/components/jumpTop.js" type="text/javascript"></script>
		<script src="../public/components/footerBar.js" type="text/javascript"></script>
		<script src="components/mdEditor.js" type="text/javascript"></script>
		
		<link rel="stylesheet" href="../editormd/css/editormd.css" />
		<script src="../editormd/editormd.min.js"></script>
		
	</head>
	<body>
		<div id="NebulaMain">
			<alert v-if="alertshow">{{alertmsg}}</alert>
			<background src="./img/homeBG.jpg"></background>
			<topbar :nickname="userdata.nickname_Top"></topbar>
			<div :style="containerStyle">
				<div name="space" style="height:70px"></div>
				<input type="text" v-model="articleTitle" placeholder="写上一目了然的标题哦" :style="articleTitleStyle" maxlength="25">
				<mdeditor></mdeditor>
				<zButton bgcolor="red" shadowcolor="rgba(255,0,0,0.6)" w="120px"
				float="right" :click="postArticle">发布文章</zButton>
			</div>
			<jumptop></jumptop>
			<footerbar></footerbar>
		</div>
	</body>
	<script type="text/javascript">
		vue=new Vue({
			el:'#NebulaMain',
			data:{
				alertshow:false,
				alertmsg:'',
				containerStyle:{
					width:'1100px',
					height:'950px',
					margin:'0 auto 50px auto'
				},
				userdata:{
					nickname_Top:'',
					nickname:''
				},
				articleTitleStyle:{
					backgroundColor:'rgba(240,240,255,0.5)',
					margin:'30px 0',
					border:'none',
					padding:'8px 25px',
					borderRadius:'20px',
					height:'30px',
					width:'500px',
					fontSize:'20px'
				},
				articleTitle:'',
				articleContent:''
			},
			methods:{
				alert:function(msg){
					this.alertmsg=msg;
					this.alertshow=true;
				},
				getUserData:function(){
					var userdata=this.userdata;
					$.post("../public/php/getUserData.php",function(data,status){
						if(data.nickname=="登录/注册"){
							alert('你调皮了哦');
							window.alert_ok=function(){
								window.alert_ok=function(){};
								window.location.href=("../login");
							}
							return;
						}
						userdata.nickname=data.nickname;
						userdata.nickname_Top=data.nickname;
					},"json")
				},
				postArticle:function(){
					var t=this.articleTitle;
					var a=this.userdata.nickname;
					var c=window.myeditor.getMarkdown();
					$.post("./php/postArticle.php",{
						title:t,
						content:c,
						author:a
					},function(data,status){
						if(data=="ok"){
							alert('成功发布了呢~');
							window.alert_ok=function(){
								window.alert_ok=function(){};
								window.location.href="../home";
							}
						}
						else if(data=="same"){
							alert('你已经有了一篇相同标题的文章了!')
						}
						else alert('未知原因发布失败qwq');
					},"json");
				}
			},
			mounted() {
				window.alert=this.alert;
				window.alert_ok=function(){};
			},
			created() {
				this.getUserData();
			}
		})
	</script>
	<script type="text/javascript">
		layui.use('element',function(){})
	</script>
</html>