<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../public/img/icon.ico">
		<title id="indexTitle">-Nebula-</title>
		<link rel="stylesheet" href="../layui/css/layui.css">
		<script src="../layui/layui.js" type="text/javascript"></script>
		<script src="../public/js/jquery.js" type="text/javascript"></script>
		<script src="../public/js/vue.js" type="text/javascript"></script>
		<script src="../public/components/topBar.js" type="text/javascript"></script>
		<script src="../public/components/alert.js" type="text/javascript"></script>
		<script src="../public/components/background.js" type="text/javascript"></script>
		<script src="../public/components/zButton.js" type="text/javascript"></script>
		<script src="../public/components/jumpTop.js" type="text/javascript"></script>
		<script src="../public/components/footerBar.js" type="text/javascript"></script>
		<script src="./components/QASearch.js" type="text/javascript"></script>
		
		<script src="../public/components/mdEditor.js" type="text/javascript"></script>
		<link rel="stylesheet" href="../editormd/css/editormd.css" />
		<script src="../editormd/editormd.min.js"></script>
		
		<style type="text/css">
			.layui-icon-loading{
				font-size: 80px;
				color: deepskyblue;
			}
			#loading{
				position: fixed;
				top: 50%;
				left: 50%;
				margin-left: -40px;
				margin-top: -40px;
			}
		</style>
	</head>
	<body>
		<div id="loading"><i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i></div>
		<div id="Nebula" style="display: none;">
			<alert v-if="alertshow">{{alertmsg}}</alert>
			<background src="./img/homeBG.jpg" display="none"></background>
			<topbar :nickname="userdata.nickname_Top"></topbar>
			<div :style="containerStyle" id="container">
				<div name="space" style="height:70px"></div>
				<qasearch :search="search"></qasearch>
				<input type="text" id="QTitle" v-model="QTitle" placeholder="描述清楚你的问题哦~" :style="QTitleStyle" maxlength="25">
				<mdeditor width="920px" height="400px" placeholder="用Markdown更清晰描述问题哦~" theme="blackboard"></mdeditor>
				<zButton bgcolor="red" shadowcolor="rgba(255,0,0,0.6)" w="120px"
				float="right" :click="postQ">提问</zButton>
				<div name="space" style="height:70px"></div>
			</div>
			<jumptop></jumptop>
			<footerbar></footerbar>
		</div>
		
	</body>
	<script type="text/javascript">
		vue=new Vue({
			el:'#Nebula',
			data:{
				alertshow:false,
				alertmsg:'',
				containerStyle:{
					width:'920px',
					height:'auto',
					margin:'0 auto 20px auto',
					display:'none'
				},
				userdata:{
					nickname_Top:''
				},
				QTitleStyle:{
					backgroundColor:'rgba(240,240,255,0.5)',
					margin:'0 0 20px 0',
					border:'none',
					padding:'8px 25px',
					borderRadius:'20px',
					height:'30px',
					width:'500px',
					fontSize:'20px'
				},
				QTitle:'',
				QContent:'',
				search:'',
			},
			methods:{
				alert:function(msg){
					this.alertmsg=msg;
					this.alertshow=true;
				},
				getUserData:function(){
					var userdata=this.userdata;
					$.post("../public/php/getUserData.php",function(data,status){
						if(data.nickname=="登录/注册"){
							userdata.nickname_Top="登录/注册";
							return;
						}
						userdata.nickname_Top=data.nickname;
					},"json")
				},
				postQ:function(){
					var t=this.QTitle;
					if(t.trim()==""){
						alert("问题标题为空怎么能行捏?");
						return;
					}
					var a=this.userdata.nickname_Top;
					if(a=="登录/注册"){
						alert('没登录问个锤子呢!');
						window.alert_ok=function(){
							window.alert_ok=function(){};
							window.location.href="../login";
						}
					}
					var c=window.myeditor.getMarkdown();
					$.post("./php/QPost.php",{
						title:t,
						content:c,
						author:a
					},function(data,status){
						if(data=="ok"){
							alert('成功提问了呢~');
							window.alert_ok=function(){
								window.alert_ok=function(){};
								window.location.href="../Q&A";
							}
						}
						else if(data=="same"){
							alert('你已经提过这个问题了!')
						}
						else alert('未知原因提问失败qwq');
					},"json");
				},
				getQueryVariable:function(variable){
				       var query = window.location.search.substring(1);
				       var vars = query.split("&");
				       for (var i=0;i<vars.length;i++) {
				               var pair = vars[i].split("=");
				               if(pair[0] == variable){return pair[1];}
				       }
				       return '';
				},
				getSearch:function(){
					this.search=this.getQueryVariable('keyword');
					this.search=decodeURI(this.search);
				},
			},
			mounted() {
				window.alert=this.alert;
				window.alert_ok=function(){};
			},
			created() {
				this.getUserData();
				this.getSearch();
			}
		})
	</script>
	<script type="text/javascript">
		layui.use('element',function(){});
		var loadloop=setInterval(function(){
			var img=$('#background').css('background-image');
			if(typeof(img)!="undefined"&&img!='none')
			{
				clearInterval(loadloop);
				$('#loading').hide();
				$('#Nebula').show();
				$('#background').fadeIn(1500);
				setTimeout(function(){$('#container').fadeIn(1000);},1500);
			}
		},200);
	</script>
</html>